.App {
  text-align: center;
}

div {
  font-family: 'Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif';
}

.modal {
  z-index: 2;
  height: 60%;
  width: 50%;
  position: absolute;
  top: 20%;
  left: 25%;
  background: aliceblue;
  border: 1px solid lightgray;
  border-radius: 25px;
  padding: 20px;
  opacity: 90%;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-button {
  background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}





.picture1 {
  width: 50px;
}


