.App {
  text-align: center;
}

div, p, h1, h2 {
  text-align: start;
  font-family: arial, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f9f9fdc0;
}

::-webkit-scrollbar-thumb {
  background-color: #cacaca;
}

::-webkit-scrollbar-track {
  background-color: #f9f9fdc0;
}

.modal {
  z-index: 2;
  height: 80%;
  width: 50%;
  position: absolute;
  top: 10%;
  left: 25%;
  background: whitesmoke;
  border: 2px solid lightgray;
  padding: 20px;
  gap: 15px;
  flex-direction: column;
  overflow: auto;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-button {
  background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}





.picture0 {
  width: 100%;
}

.title {
  font-weight: bold;
  font-size: 20px;
}


